{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About this project</h1>
<p>Welcome to my website! I am dedicated to providing the best service possible.</p>
<p>This project is built from starting code by Professor Stewart</p>
<p>
  The app's primary purpose is to help users learn HTML by categorizing various HTML elements (like header, footer, li, ul, etc.) into the correct sections of a webpage.
</p>
<p>Thank you for visiting my site!</p>
{% endblock %}
